<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container py-5">

<p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore <br>et dolore magna aliqua. Vivamus at augue eget arcu dictum varius duis at consectetur.<br>Integer feugiat scelerisque varius morbi enim nunc faucibus a. Magna ac placerat vestibulum lectus.</p>

<p>    Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. <br>Pellentesque elit eget gravida cum sociis natoque penatibus et magnis dis parturient montes.<br>et dolore magna aliqua. Vivamus at augue eget arcu dictum varius duis at consectetur.</p>

<p>    Integer feugiat scelerisque varius morbi enim nunc faucibus a. Magna ac placerat vestibulum lectus<br> mauris ultrices eros in. Convallis aenean et tortor at risus viverra adipiscing at in.<br>et dolore magna aliqua. Vivamus at augue eget arcu dictum varius duis at consectetur.</p>

<p>    Sed euismod nisi porta lorem mollis aliquam. Morbi tempus iaculis urna id volutpat lacus laoreet. <br>Purus sit amet luctus venenatis lectus magna fringilla urna porttitor.</p>

</div>

<%- include('partials/footer') %>