<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container text-center py-5">
  
  <img src="/images/qrcode.png" alt="QR Code Pix" class="mb-3" style="width: 200px;">
  <p class="lead">Chave Pix: <strong>apoie@examlib.org</strong></p>
</div>

<%- include('partials/footer') %>
