<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container text-center py-5 mt-5">
  
  <div class="row g-4">
    <div class="col-md-4">
      <img src="/images/pesquisar.svg" alt="Ícone 1" class="mb-3" style="width: 300px;">
      <p>Pesquise provas e gabaritos recentes</p>
    </div>
    <div class="col-md-4">
      <img src="/images/resolucoes.svg" alt="Ícone 2" class="mb-3" style="width: 300px;">
      <p>Ache resoluções analisadas por especialistas</p>
    </div>
    <div class="col-md-4">
      <img src="/images/personalizada.svg" alt="Ícone 3" class="mb-3" style="width: 300px;">
      <p>Prepare o seu simulado com questôes temáticas</p>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
